.m_top-20 {
  margin-top:-20px;
}

.inputs > .form-control-wrapper {
  margin: 30px 0;
}

.floating-label {
  font-weight: 400;
}

.mrg0 {
  margin:0 !important;
}

.mrg-d-10 {
  margin-bottom: 10px !important;
}

.pad0 {
  padding: 0 !important;
}

.pad10 {
  padding: 10px !important;
}